@charset "UTF-8";

	/* signup css */
    section {
    padding-top: 120px;
    }
    .main {
    width: 600px;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    }
    .signup-text {
    text-align: center;
    font-weight: bold;
    }
    .id-error, .password-error, .name-error, .phone-error, .birthday-error, .email-error, .passwordchek-error {
    margin-top: 1px;
    font-size: 15px;
    }
    .signup-form > textarea {
    width: 100%;
    height: 10em;
    }
    .signup-form > h5 {
    text-align: left;
    font-weight: bold;
    }
    .gender {
        width: 15px;
        height: 15px;
    }
    #gender {
        text-align: center;
    }
    #id {
      width: 82%;
      float: left;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    #idbtn {
      width: 100px;
      float: left;
    }
    textarea {
      width: 600px;
      height: 150px;
    }
    
    /* login css */
    #rog {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .sign {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #a {
        margin-top: 15em;
    }
    
    /* idfind css */
    #idfind {
        font-weight: bolder;
        margin-bottom: 20px;
    }
    #idfind-label {
        margin-top: 5px;
        margin-bottom : 40px;
        color: rgb(156, 156, 156);
    }
    
    /* manager header */
   #mainnav {
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       background-color: dimgray;
       padding-left: 24px;
       padding-right: 24px;
   } 
   #sidebarMenu {
       text-align: center;
   }

   #managerheaderimg {
       margin-left: 100px;
   }

   #managermode {
       margin-top: 15px;
       border-style: solid;
       border-color: firebrick;
   }
   
   /* 회원 목록 */
   .userlisttb {
   	   margin-top: 20px;
       text-align: center;
   } 
   
   /* 회원 상세 정보 */
   .userdetail {
   		margin-top: 20px;
   }
    
    
    
    	#mainLogo {
        font-size: 3em;
        font-style: italic;
        font-weight: 800;
        text-decoration: none;
        margin-left: auto;
    	margin-right: auto;
      }
      
   #logoleft {
     float: left;
   }
    